/* :root {
  --title-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --address-color: rgba(255, 255, 255, 0.6);
  --primary-white-color: #FFFFFF;
  --primary-bghero-color: #2f303a;
  --logo-color: #000000;
  --primary-section-color: #f5f4fa;
 } */

/* body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--title-color);
  letter-spacing: 0.03em;
}  */
/* rest */
/* html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
ul {
padding-left: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height:auto;
} */
 
 /* .container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
   
}  */
/* утиліти */

/* ul {
  list-style: none;
  padding: 0;
  margin: 0;
} */
/* .hero {
  background-color: var(--primary-bghero-color);
} */
/* Hover and focus effects */
/* .tel:focus,
.tel:hover,
.mail:focus,
.mail:hover,
.site-nav .link:hover,
.site-nav .link:focus,
.contacts-header-link:hover,
.contacts-header-link:focus
{
  color: var(--accent-color);
} */
/* header */
/* .header .container {
  display: flex;
  align-items: center;
 
} 
.header {
    border-bottom: 1px solid 
    #ECECEC;
}  */
/* .logo {
   margin-right: 93px;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none; 
    color: var(--accent-color);  
}
.logo-color {
    color: var(--logo-color)
} */
/* nav */
/* .site-nav {
  display: flex;
        
}
.site-nav .site-nav__item+ .site-nav__item {
  margin-left: 50px;
  display: block;
}
.site-nav__item {
  position: relative;
}
.site-nav__link.link-activ::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;

  height: 4px;
  width: 100%;

  background-color: var(--accent-color);
  border-radius: 4px;
}

.nav {
  display: flex;
  gap: 50px;
  margin-left: auto;
      }  


.site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}    */

/* .list 
.link  {
  font-weight: 500;
  line-height: 1.14;
  color: var(--title-color);
  text-decoration: none;
  list-style: none;
} */
/* .contacts-header-link {
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-icon {
margin-right: 10px;
fill: currentColor;

}

.mail,
.tel {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.link-activ{
    color: var(--accent-color);
    text-decoration: none;
} */


/* hero */
/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
} */
/* .hero{
  padding-top: 200px;
  padding-bottom: 200px;
    text-align: center;
    background-color: var(--primary-bghero-color);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/hero/Img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    
}

.hero__title {
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 30px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.hero__button {
  
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  border-radius: 4px;
  border: 1px solid transparent;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  cursor: pointer;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
} */
/* Modal */
/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--primary-white-color);
  border-radius: 4px;
  box-shadow: 1px 0px 2px rgb(0 0 0 / 20%), 1px 0px 1px rgb(0 0 0 / 14%), 3px 0px 1px rgb(0 0 0 / 12%);}

  .modal__button {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--primary-white-color);
    cursor: pointer;
    color: #000000;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:focus,
.modal__button:hover{
    color: var(--accent-color);
} */

/* .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;

    width: 100%;
    
} */
/* Forma */
/* .registr-form__title {
    margin-bottom: 12px;
    color: var(--title-color);
    
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 00.03em;
    text-align: center;

    display: block;
}


.registr-form{
  padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.register-form__group{
    display: flex;
    flex-direction: column;
    
    margin-bottom: 20px;
    gap: 10px;
    }

.registr-form__label {
    display: flex;
    flex-direction: column;

    position: relative;
}


.registr-form__text{
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    text-align: left;

    color: var(--text-color);
}


.registr-form__input {
    display: block;
    width: 448px;
    
    padding: 11px 0px 11px 12px;
    padding-left: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}
.registr-form__svg{
  fill: currentColor;
}


.registr-form__input:focus,
.registr-form__input:hover,
.form-agreement__input:focus,
.form-agreement__input:hover{
    border: 1px solid var(--accent-color);
    outline: 1px solid var(--accent-color);
}


.registr-form__svg {
    position: absolute;
    bottom: 11px;
    left: 12px;

    fill: var(--title-color);

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.registr-form__input:focus + .registr-form__svg,
.registr-form__input:hover + .registr-form__svg
{
    fill: var(--accent-color);
}


.registr-form__comment{
width: 448x;
height: 120px;
padding: 12px 16px;

font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;

color: rgba(117, 117, 117, 0.5);

border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

resize: none;
}

.icon-check{
    display: block;
    width: 16px;
    height: 15px;

    background-image: url(../images/icon/Vector.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.form-agreement__input:checked + .icon-check{
    background-image: url(../images/icon/check.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.registr-form__btn{
    padding: 10px 52px;
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.62;
    border: 0;
    border-radius: 4px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-agreement{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;

    margin-bottom: 30px;
}

.form-agreement__text{
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.form-agreement__link{
    color: var(--accent-color);
}

.registr-form__btn:hover,
.registr-form__btn:focus{
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
     0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12); 
} */


/* Переваги benefits*/
/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */
/* .benefits__list
{ display: flex;
  justify-content: center;
  gap: 30px;}

.benefits__block {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--primary-section-color);
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 4%;
}
.benefits__icon {
  width: 70px;
  height: 70px;
  
}
.benefits__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color)
}
.benefits__text {
  
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color)
} */
/* Особливості features*/
/* .features {
  padding-top: 0;
}
.features__list{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.features__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color)
} */
/* .thumb {
  position: relative;
}
.thumb__text {
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-white-color);
  text-transform: uppercase;
} */
/* Наша команда team*/
/* .team{
  background-color: var(--primary-section-color) ;
}
.section.team .team__list-item {
  background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team__block {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  }
.team__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color)
}
.team__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  }
.team__item {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color)
}
.team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color)
} */
/* block-icon */
/* .action {
  display: flex;
  }
.action .action__item+ .action__item {
  margin-left: 10px;
  }

.action__item {
  width: 44px;
  height: 44px;
}
.action__link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #AFB1B8;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.action__link:focus,
.action__link:hover {
  background-color: var(--accent-color);
  color:  var(--primary-white-color);
} */

/* .team__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
   
 } */
/* Постійні клієнти client*/
/* .client__list {
    display: flex;
  }
.client__tittle {
  font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 50px;
color: var(--title-color);
}
.client__item {
  width: 170px;
  height: 92px;
    }

.client__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover,
.client__link:focus {
   color: var(--accent-color);
   border-color: var(--accent-color);
      }

.client .client__item+ .client__item {
  margin-left: 30px;
}

.client__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
} */
/* footer */

/* .footer{
    background-color: var(--primary-bghero-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-container {
  display: flex;
  align-items: baseline; 
} 
.footer__adress {
  margin-right: 70px;
}
.footer__logo {
  margin-bottom: 20px;
  display: block;
  font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none; 
    color: var(--accent-color)
}
.footer__logo-color{
    color: var(--primary-white-color);
}
.footer__contacts-item {
  margin-bottom: 9px;
}
.address__map {
  font-size: 14px;
 line-height: 1.71;
 letter-spacing: 0.03em;
 color: var(--primary-white-color);
 font-style: normal;
 text-decoration: none; 
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__mail,
.adress__tel {
  margin-bottom: 9px;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--address-color);
font-style: normal; 
text-decoration: none;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 
.address__map:hover,
.address__map:focus,
.address__mail:hover,
.address__mail:focus,
.adress__tel:hover,
.adress__tel:focus {
color:var(--accent-color);
} */

/* footer-icon */


/* .footer__subtitle {
  font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;

margin-bottom: 20px;
}

.footer__action {
  display: flex;
   
  }
  .footer__action .footer__action-item+ .footer__action-item {
  margin-left: 10px;
  
}
.footer__action-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #42424b;
  color: var(--primary-white-color);
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.footer__action-link:focus,
.footer__action-link:hover {
  background-color: var(--accent-color);
  color:  var(--primary-white-color);
}

.footer__team-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
    }

    .subscription-container{
      margin-left: auto;
  }
  
  
  .subscription-form{
      display: flex;
      align-items: center;
  
        gap: 12px;
  }
  
  
  .subscription{
      display: flex;
      flex-direction: column;
  }
  .subscription__mail{
  color: var(--primary-white-color)
  }
  
  
  .subscription-form input {
      width: 358px;
      padding: 16px 295px 16px 16px;
  
  
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.3);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      
      border-radius: 4px;
  }
  
  
  .subscription__btn{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 28px;
      border-radius: 4px;
      gap: 10px;
      border: 0;
      width: 200px;
      height: 50px;
  
  
      font-size: 16px;
      line-height: 1.6;
      letter-spacing: 0.06em;
      font-weight: 700;
      color: var(--primary-white-color);
      background-color: var(--accent-color);
  } */
  

/* portfolio project */
/* .filter{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.filter__item:hover,
.filter__item:active,
.filter__item:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__item {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;

  font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-color);
background: #F5F4FA;
border-radius: 4px;
border: 1px solid transparent;
cursor: pointer;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .project__list{
  display: flex; 
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;

}
.project__item {
  flex-basis: calc((100% - 30px * 2) / 3);
}
.project__img {
  width: 370px;
}
.project__link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__link:hover,
.project__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project__block {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #EEEEEE;
  border-top: 0;
}
.project__subtitle {
  margin-bottom: 4px;
  font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--title-color);
}

.project__text {
font-weight: 400;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--text-color);
}
.project__thumb {
  position: relative;
  overflow: hidden;
  }
  .project__link:hover .project__thumb-text,
  .project__link:focus .project__thumb-text
   {
    transform: translateY(0);
  }  
.project__thumb-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.33;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
