.logo {
    margin-right: 93px;
   display: flex;
   padding-top: 24px;
   padding-bottom: 24px;
     font-family: "Raleway", sans-serif;
     font-weight: 700;
     font-size: 26px;
     line-height: 1.19;
     text-decoration: none; 
     color: var(--accent-color);
     
     &__color {
        color: var(--logo-color)
    }
 }
 
 .footer__logo {
    margin-bottom: 20px;
    display: block;
    font-family: "Raleway", sans-serif;
      font-weight: 700;
      font-size: 26px;
      line-height: 1.19;
      text-decoration: none; 
      color: var(--accent-color)
  }
  .footer__logo-color{
      color: var(--primary-white-color);
  }