html {
    box-sizing: border-box;
  }
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
  ul {
  padding-left: 0px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  
  img {
    display: block;
    max-width: 100%;
    height:auto;
  }

.list, 
.link  {
  font-weight: 500;
  line-height: 1.14;
  color: var(--title-color);
  text-decoration: none;
  list-style: none;
}