:root {
    --title-color: #212121;
    --text-color: #757575;
    --accent-color: #2196f3;
    --address-color: rgba(255, 255, 255, 0.6);
    --primary-white-color: #FFFFFF;
    --primary-bghero-color: #2f303a;
    --logo-color: #000000;
    --primary-section-color: #f5f4fa;
   }

   ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }