.benefits
{ display: block;

  @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      }
  @media screen and (min-width: 1200px) {
      display: flex;
      flex-wrap: nowrap;
      gap: 30px;
      }
    }
    .benefits__item{
      flex-basis: auto;
      margin-bottom: 30px;
     &:last-child {margin-bottom: 0;}
      @media screen and (min-width: 768px) {
          flex-basis: calc((100% - 30px) / 2);
          margin-bottom: 0;
          }
      @media screen and (min-width: 1200px) {
          flex-basis: calc((100% - 30px) / 4);
          }
  } 
  
  .benefits__block {
  display: flex;
 
  min-height: 120px; 
  background-color: var(--primary-section-color);
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 4%;

}
.benefits__icon {
  width: 70px;
  height: 70px;
  
}
.benefits__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  text-align: center;

    @media screen and (min-width: 768px) {
        text-align: left;
           }
    @media screen and (min-width: 1200px) {
     text-align: left;
        }

}
.benefits__text {
  
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color)
}
