.header {
  border-bottom: 1px solid 
  #ECECEC;
} 
.header__container {
    display: flex;
    align-items: center;
   
  } 

  .header__container--hidden{
    display: none;
    align-items: center;
    @media screen and (min-width: 768px){
        display: flex;
        gap: 88px;
    }
    @media screen and (min-width: 1200px){
        display: flex;
        gap: 0;
    }
}


.tel:focus,
.tel:hover,
.mail:focus,
.mail:hover,
.site-nav .link:hover,
.site-nav .link:focus,
.contacts-header-link:hover,
.contacts-header-link:focus
{
  color: var(--accent-color);
}