.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: var(--primary-white-color);
    border-radius: 4px;
    box-shadow: 1px 0px 2px rgb(0 0 0 / 20%), 1px 0px 1px rgb(0 0 0 / 14%), 3px 0px 1px rgb(0 0 0 / 12%);}
  
    
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;

    width: 100%;
    
}