.project__list{
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
  
  }
  .project__item {
    flex-basis: calc((100% - 30px * 2) / 3);
  }
  .project__img {
    width: 370px;
  }
  .project__link {
    display: block;
    text-decoration: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    } 
  }
  
  .project__block {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid #EEEEEE;
    border-top: 0;
  }
  .project__subtitle {
    margin-bottom: 4px;
    font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  }
  
  .project__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
  }
  .project__thumb {
    position: relative;
    overflow: hidden;
    }
    
  .project__thumb-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 63px 24px;
    color: var(--primary-white-color);
    background-color: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: 1.33;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .project__link:hover &,
    .project__link:focus &
     {
      transform: translateY(0);
    }  
  }